body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.container, .container2, .container3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#UserInf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#target_container {
    width: 300px;
    height: 30px;
    border: 2px solid gray;
    background-color: palegoldenrod;
    margin-top: 27px;
    border-radius: 30px;
}

#target {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20px;
    height: 30px;
    background-color: gold;
    border-radius: 30px;
    transition: width 0.5s ease;
}

#animals {
    display: grid;
    background-color: darkgray;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 500px;
    width: 100%; /* Увеличиваем ширину для адаптивности */
    max-width: 600px; /* Ограничиваем максимальную ширину */
}

#Magzine {
    display: grid;
    gap: 20px;
    background-color: darkgray;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 500px;
    width: 100%; /* Увеличиваем ширину для адаптивности */
    max-width: 600px; /* Ограничиваем максимальную ширину */
}

#Magzine #product {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 120px;
    height: 260px;
}

#menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 300px;
}

@media(max-width: 768px) {
    .container, .container2, .container3 {
        display: block;
        justify-content: center;
    }

    #UserInf {
        grid-template-columns: 1fr;
    }

    #animals, #Magzine {
        grid-template-columns: repeat(2, 1fr);
    }

    #menu {
        width: 100%;
    }

    #target_container {
        width: 100%; /* Сделаем контейнер шире */
        max-width: 300px; /* Ограничиваем максимальную ширину */
        margin: 0 auto; /* Центрируем */
    }

    #target {
        width: auto; /* Позволяем ширине адаптироваться */
    }
}
